
<header class="h2 border">
  <nav class="flex item-center bg-white">
    {{link-to "Staff Play" "index" class="p2"}}
    {{link-to "Triad Id" "idtriad" class="p2"}}
    {{link-to "Seven Id" "idseven" class="p2"}}
    {{link-to "Seven Construct" "constructseven" class="p2"}}
  </nav>
</header>
