<h3>Welcome</h3>

<div>
{{vexflow-staff root="Ab3" quality="dom7"}}
</div>

<ul>
<li>
{{#link-to "idtriad"}}
Triad Chord Identification
{{/link-to}}
</li>
<li>
{{#link-to "idseven"}}
Seven Chord Identification
{{/link-to}}
</li>
</ul>

{{outlet}}
