<h3>Welcome to StaffPlay</h3>

<div>
{{vexflow-staff }}
</div>

<ul>
<li>
{{#link-to "idtriad"}}
Triad Chord Identification
{{/link-to}}
</li>
<li>
{{#link-to "idseven"}}
Seven Chord Identification
{{/link-to}}
</li>
<li>
{{#link-to "constructtriad"}}
Triad Chord Construction
{{/link-to}}
</li>
<li>
{{#link-to "constructseven"}}
Seven Chord Construction
{{/link-to}}
</li>
</ul>

{{outlet}}
